<footer class=" page-footer font-small teal pt-5">
    <div class="container text-center text-md-left p-4">
        <div class="row mb-4">
            <div class="col-lg-4 mt-md-0 mt-3 text-center">
                <a name="contact" id="contact"><h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Contact</h5></a>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-envelope mr-1"></i><a class="mail" href="mailto:selwynswimclub@gmail.com" target="_blank">
                            <span class="text-white"> selwynswimclub@gmail.com</span></a></p>
                    </li>
                    <li>
                        <p><i class="fas fa-map-marker-alt mr-2"></i><span class="text-white">71 Broadlands Dr, Rolleston 7643</span></p>
                    </li>
                </ul>
            </div>
            <hr class="w-100 d-lg-none pb-3">
            <div class="col-lg-4 mb-md-0 mb-3 text-center">
                <h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Follow Us</h5>
                <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/selwynswimclub/" target="_blank">
                    <i class="fab fa-facebook-f mr-2"></i>
                </a>
                <a type="button" class="btn-floating btn-tw" href="https://www.instagram.com/selwynswimclub/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <hr class="w-100 d-lg-none pb-3">
            <div class="col-lg-4 mt-md-0 mt-3 text-center">
                <h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Sponsors and supporters</h5>
                <a href="https://www.selwyn.govt.nz/" target="_blank"><img class="sponsor-sel mr-2" src="/images/sel.png"></a>
                <a href="https://www.pubcharitylimited.org.nz/" target="_blank"><img class="sponsor-pub" src="/images/pub1.jpg"></a>
            </div>
        </div>
    </div>
</footer>