<div class="icon-bar d-none d-xl-block">
    <a href="https://www.facebook.com/selwynswimclub/" class="facebook" target="_blank"><i class="fab fa-facebook-f text-white"></i></a>
    <a href="https://www.instagram.com/selwynswimclub/" class="instagram" target="_blank"><i class="fab fa-instagram text-white"></i></a>
</div>