* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.5em;
    /* font-family: 'Shanti', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    line-height: 25px
}

body {
    font-family: 'Epilogue', sans-serif;
    min-width: 400px;
}


.active-link {
    color: #0f356a !important;
}


.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-around;
}

/* .container {
    max-width: 1200px;
  
} */

.fa-quote-right, .fa-quote-left{
    color: #fc9c4c;
    font-size: 28px;
}

.mail {
    color: #212529 !important;
    text-decoration:none;
}

.mail:hover {
    text-decoration: none;
} 


/* .badge {
    background-color: #EF6539;
} */





.drawing {
    max-width: 22%;
    /* min-width:250px;    */
}

.about-us{
    background-color: #0f356a;
    /* height: 300px;   */
    background-image: url('/images/waves-border.jpg');
    background-position: top center, bottom center, center left, center right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

}

  
.gallery img { 
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    transition: 1s; 
    /* padding: 5px;  */
} 
  



textarea {
    height: 300px;
}

footer {
    background-color: #0f356a;
    
    background-image: url('/images/waves-border.jpg');
    background-position: top center, bottom center, center left, center right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}


  
  .footer-submited-form {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
.orange-drops {
    max-width: 24px;
}

.white-drops-sm {
    max-width: 20px;
}

.white-drops {
    max-width: 30px;
}

.btn-memb {
    cursor: pointer;
}

.sponsors {
    background-color: #b2ccdf;
}

.text-blue {
    color: #04336f;
}

.sponsors {
    min-height: 320px;
    /* background-color: #efefef; */
}

/* .sponsors-title {
    color: #fc9c4c;
} */

.squads-title {
    margin-top: 65px;
}



.fab, .fa-map-marker-alt, .fa-envelope, .fa, .memb-name {
    color: #EF6539;
}

a {
    text-decoration: none;
}

.subtitle {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.fa-instagram, .fa-facebook-f {
    font-size: 25px;
}

.fa-shopping-cart {
    font-size: 20px;
}



.info {
    /* background-color: #585858; */
    background-color: 	#f15723;
   height: 35px;
}

.img {
    max-width: 287px;
    max-height: 287px;
}

.about-img {
    /* min-width: 50%; */
    max-width: 100%;
}

.text-1 {
    background-color: #E0FFFF;
}

.sponsor-sel{
    max-width: 120px;
}


.sponsor-pub {
    
    max-height: 42px;
}

.card-img-top {
    max-width: 160px;
}

.container-members, .container-events{
    margin-top: 60px;
}

footer {
    margin-top: 80px;
}

/* .memb-rol {
    color: #04336f;
} */

.spl {
    border-top: 40px solid #ffffff;
    border-bottom: 40px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.border-black {
    border: 1px solid #000000;
}

.card-img {
    max-width: 150px;
    max-height: 135px;
}

.challenge {
    border-top: 40px solid #171d26;
    border-bottom: 40px solid #171d26;
}

.swa {
    border-top: 20px solid #3f3936;
    border-bottom: 20px solid #3f3936;
}

.motel {
    border-top: 20px solid #ffffff;
    border-bottom: 20px solid #fff;
}















.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-around;
}

.img-logo {
    width: 145px;
}

.container {
    max-width: 1000px;
  
}

.fas{
    color: #fc9c4c;
    font-size: 28px;
}

.mail {
    color: #212529 !important;
    text-decoration:none;
}

.mail:hover {
    text-decoration: none;
} 


.badge {
    background-color: #EF6539;
}




.btn-details {
    background-color: #04336f;
}


.row-title-dark, .row-button-dark, .about-us-dark, .membership-dark {
    background-color: #b2ccdf;
}

.row-title-light, .row-button-light, .about-us-light, .membership-light {
    background-color:	#e3ecf4;
}

.about-us-light {
    background-image: url('/images/wave-light.jpg');
    background-position: top center, bottom center, center left, center right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    
}

.about-us-dark {
    background-image: url('/images/wave-dark.jpg');
    background-position: top center, bottom center, center left, center right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.bronze {
   background-color:  #cd7f32;
}

.bronze-text {
    background-color: #E5BD96;
}

.silver {
    background-color: #aaa9ad;
}

.silver-text {
    background-color: #D3D3D3;
}

.gold {
    background-color: #d4af37;
}

.gold-text {
    background-color: #E9D699;
}

.platinium {
    background-color: #c1beba ;
}
.platinium-text {
    background-color: #f1f1ef;
}

.row-date-light {
    background-color: #9cbdd6;
}

.row-date-dark{
    background-color: #4282b1;
}

.row-title-active, .row-button-active, .membership-orange-light {
    background-color: #fcd6c9;
}

.row-date-active, .membership-orange-dark {
    background-color: #f47449;
}

.fab, .fa-map-marker-alt, .fa-envelope, .fa {
    color: #EF6539;
}

a {
    text-decoration: none;
}

.subtitle {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

 .fa-envelope, .fa-map-marker-alt  {
    font-size: 20px;
}

.fa-instagram, .fa-facebook-f {
    font-size: 25px;
}


/* .text-1 {
    background-color: #387ca4;
} */




.img {
    max-width: 287px;
    max-height: 230px;
}




.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-sponsors {
    bottom: -50px;
}

.wave{
    background:
      linear-gradient(to right, sandybrown, chocolate);
    height: 50px;
    position: relative;
  }
  .wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
      radial-gradient(circle at 10px -5px, transparent 12px, maroon 13px);
  }

@media(max-width:992px) {
    nav {
        border-bottom: 1px solid 	#D3D3D3;
    }
    
    .navbar-nav {
        display: flex;
        align-items: center;
        border-top: 1px solid #D3D3D3;
        background-color:  #F8F8F8 ;
    }

    .footer-submited-form{
        position: relative;
    }
}


@media(max-width:768px) {
    .container-about {
        display: flex;
        flex-direction: column;
    }
    .container-img{
        order: 1;
    }
    .container-text{
        order: 2;
    }

    .about-us-text {
        font-size: 17px;
    }

   .about-img {
       max-width: 80%;
   }

   .events-title {
       font-size: 17px;
   }

   .memb-name {
       font-size: 18px;
   }

   .footer-text {
       font-size: 19px;
   }

   .info {
       font-size: 15px;
   }

   .about-us-title {
       font-size: 22px;
   }

   .events-schedule, .team-title, .sponsors-title {
       font-size: 24px;
   }

   .events-date, .events-year {
       font-size: 21px;
   }
    
}
