<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="header">
    <div class="info text-center text-white p-1 text-uppercase shadow-sm font-weight-bold">open with level 1 safety standards</div>
    <div class="text-center">
      <img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn">
    </div>
    <nav class="container navbar navbar-expand-lg navbar-light p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-lg-5 mr-lg-5" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-item nav-link text-uppercase" href="/">Home</a>
          <a class="nav-item nav-link text-uppercase active-link font-weight-bold" href="/about-us">About Us</a>
          <a class="nav-item nav-link text-uppercase" href="/events">Events</a>
          <a class="nav-item nav-link text-uppercase" href="/club-info">Club Info</a>
          <a class="nav-item nav-link text-uppercase" href="/gallery">Gallery</a>
          <a class="nav-item nav-link text-uppercase" href="/contact-us">Contact Us</a>
          <!-- <a class="nav-item nav-link text-uppercase" href="/events">Members Area</a> -->
        </div>
      </div>
    </nav>
  </div>

  <div class=" mt-4 mb-5 p-0">
    <div class="text-2 about-us-light mb-2">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3"><img class="orange-drops mr-2" src="/images/image (1).png">Goals</h1>
              
              <p>It is the goal of Selwyn Swim Club to develop,support and promote competitive
                swimming for all ages and abilities in a positive, caring and safe environment.<br />
                Competitive swimming encourages fitness, friendship, and health,<br /> and produces people who are a credit to their sport and
                their community.</p>
            </div>
          </div>
            <div class="container-img col-md-6 pl-0 pr-0">
              <img class="about-img pt-4 pb-4" src="/images/aboutUs4A.jpg">
            </div>
        </div>
      </div>
    </div>

    <div class="about-us-dark mb-2">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 pl-0 pr-0 mt-lg-0">
            <img class="about-img pt-4 pb-4 rounded" src="/images/AboutUs2.jpg">
          </div>
          <div class="col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3">Coaches<img class="orange-drops mr-2 ml-1" src="/images/image (2).png"></h1>
              
              <p>Our swim coaches offer high-quality, professional coaching. Since the club's formation in 2014, our coaches have
                built a strong reputation for developing swimmers with a high level of technical competence.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-2 about-us-light mb-2">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3"><img class="orange-drops mr-2" src="/images/image (1).png">Diversity</h1>
              
              <p>Our swimmers range in age and ability. We also have swimmers competing in a diverse range of aquatic sports such
                as open water, para-swimming, Synchro Swimming, and triathlon.</p>
            </div>
          </div>
            <div class="container-img col-md-6 pl-0 pr-0">
              <img class="about-img pt-4 pb-4 rounded" src="/images/aboutUs3.jpg">
            </div>
        </div>
      </div>
    </div>

    <div class="about-us-dark mb-2">
      <div class="container">
        <div class="row text-center">
          <div class=" col-md-6 pl-0 pr-0 mt-lg-0">
            <img class="about-img pt-4 pb-4 rounded" src="/images/aboutUs4.jpg">
          </div>
          <div class="col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3">Members<img class="orange-drops mr-2 ml-1" src="/images/image (2).png"></h1>
              
              <p >We welcome members of our swimmers' families to join in and help out where they can. Swim meets are reliant completely
                upon volunteers to run them.<br />
                It's a great way to support your child's interest and to see the action close up.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-2 about-us-light">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3"><img class="orange-drops mr-2" src="/images/image (1).png">Competitions</h1>
              
            <p >Selwyn Swim Club swimmers compete at meets that include local, regional, national, and international competitions.<br />
              With a solid base of experience from our senior swimmers and coaches with extensive knowledge of the sport, we are excited to see 
              the club continue to grow from strength to strength!</p>
            </div>
          </div>
            <div class="container-img col-md-6 pl-0 pr-0">
              <img class="about-img pt-4 pb-4 rounded-lg" src="/images/aboutUs5A.jpg">
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-members mb-5">
    <div class="text-center mb-5 mt-5">
      <h1 class="h3 team-title text-blue font-weight-bold">Meet the team</h1>
    </div>
    <div class="row">
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/DavidBennett-clubPresident.jpg">
        <h2 class="h5 memb-name font-weight-bold">David Bennett</h2>
        <span class="memb-rol">Club President</span>
      </div>
      <div class="memb col-lg-3 col-md-3 col-sm-4 col-6 text-center mb-4 pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/JeanetteAnderson-secretaryAndSponsorship.jpg">
        <h2 class="h5 memb-name font-weight-bold">Jeanette Anderson</h2>
        <span class="memb-rol">Secretary and Sponsorship</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/SamNewbigging-Treasurer.jpg">
        <h2 class="h5 memb-name font-weight-bold">Sam Newbigging</h2>
        <span class="memb-rol">Treasurer<span>
      </div>   
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/MichelleBoyce-travelAndAccommodation.jpg">
        <h2 class="h5 memb-name font-weight-bold">Michelle Boyce</h2>
        <span class="memb-rol">Travel and Accommodation</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/KellyBennett-Volunteers.jpg">
        <h2 class="h5 memb-name font-weight-bold">Kelly Bennett</h2>
        <span class=" memb-rol">Volunteers</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/RachelClose-Communications.jpg">
        <h2 class="h5 memb-name font-weight-bold">Rachel Close</h2>
        <span class=" memb-rol">Communications</span>
      </div>       
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/MiriamEyles-uniformsAndFunding.jpg">
        <h2 class="h5 memb-name font-weight-bold">Miriam Eyles</h2>
        <span class=" memb-rol"n>Uniforms and Funding</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/JulietSmith-eventsAndSocial.jpg">
        <h2 class="h5 memb-name font-weight-bold">Juliet Smith</h2>
        <span class=" memb-rol">Event and Social</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/AndyBenn-committeeMember.jpg">
        <h2 class="h5 memb-name font-weight-bold">Andy Benn</h2>
        <span class=" memb-rol">Committee Member</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/BenClose-HeadCoach.jpg">
        <h2 class="h5 memb-name font-weight-bold">Ben Close</h2>
        <span class=" memb-rol">Head Coach</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/RhysPryde-Wall-AssistantCoach.jpg">
        <h2 class="h5 memb-name font-weight-bold">Rhys Pryde-Wall</h2>
        <span class=" memb-rol">Assistant Coach</span>
      </div>
    </div>
  </div>

  <div class="sponsors mt-4 mb-5 rounded pt-4 pb-5">
    <div class="text-center">
      <h1 class="sponsors-title h3 mt-2 mb-5 font-weight-bold text-blue">Sponsors and supporters</h1>
    </div>
    <div id="multi-item-example" class="container carousel slide carousel-multi-item" data-ride="carousel">
      <ol class="carousel-sponsors carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
        <li data-target="#multi-item-example" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row text-center">
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">           
              <img class="card-img" src="/images/bayleys.png" alt="Card image cap">              
            </div>      
            <div class="col-md-3 col-6  d-md-flex align-items-md-center mb-3 mb-md-0">        
              <img class="card-img" src="/images/challenge.jpg" alt="Card image cap">           
            </div>      
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">              
              <img class="card-img spl" src="/images/spl.jpg" alt="Card image cap">          
            </div>            
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">             
              <img class="card-img" src="/images/hammer.jpg" alt="Card image cap">              
            </div>
          </div>
        </div>
        
        <div class="carousel-item">  
          <div class="row text-center">
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">           
              <img class="card-img" src="/images/oktober.png" alt="Card image cap">              
            </div>  
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">              
              <img class="card-img"
              src="/images/TPAG-logo.jpg" alt="Card image cap">          
            </div>
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">             
                <img class="card-img "
                  src="/images/ontheplusside.jpg" alt="Card image cap">       
            </div>
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">              
                <img class="card-img "
                  src="/images/superli.jpg" alt="Card image cap">            
            </div>
            
          </div>
        </div>
            
        <div class="carousel-item">  
          <div class="row text-center">
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">           
              <img class="card-img " src="/images/linco.jpg" alt="Card image cap">              
            </div>  
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">              
                <img class="card-img swa mb-1 mb-md-0"
                  src="/images/swa.png" alt="Card image cap">             
            </div>
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">             
                
                  <img class="card-img motel mb-1 mb-md-0"
                  src="/images/lincolnmotel.png" alt="Card image cap">        
            </div>
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">              
                
                  <img class="card-img"
                  src="/images/suzymc.jpg" alt="Card image cap">             
            </div> 
          </div>
        </div>
        <div class="carousel-item">  
          <div class="row text-center">
            <div class="x col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">             
              <img class="card-img border-white" src="/images/harc.jpg" alt="Card image cap">  
            </div>
            <div class="x col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">              
              <img class="card-img" src="/images/smart.jpg" alt="Card image cap">           
            </div>
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">             
              <img class="x card-img" src="/images/selw.jpg" alt="Card image cap">       
            </div>
            <div class="col-md-3 col-6 d-md-flex align-items-md-center mb-3 mb-md-0">              
              <img class="card-img" src="/images/pubch.jpg" alt="Card image cap">            
            </div> 
          </div>
      </div>
      </div>
    </div>
  </div>
  
  <footer class=" page-footer font-small teal pt-5">
    <div class="container text-center text-md-left p-4">
      <div class="row mb-4">
        <div class="col-lg-4 mt-md-0 mt-3 text-center">
          <a name="contact" id="contact"><h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Contact</h5></a>
          <ul class="list-unstyled">
            <li>
                <p><i class="fas fa-envelope mr-1"></i><a class="mail" href="mailto:selwynswimclub@gmail.com" target="_blank">
                  <span class="text-white"> selwynswimclub@gmail.com</span></a></p>
            </li>
            <li>
                <p><i class="fas fa-map-marker-alt mr-2"></i><span class="text-white">71 Broadlands Dr, Rolleston 7643</span></p>
            </li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-lg-none pb-3">
        <div class="col-lg-4 mb-md-0 mb-3 text-center">
          <h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Follow Us</h5>
          <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/selwynswimclub/" target="_blank">
            <i class="fab fa-facebook-f mr-2"></i>
          </a>
          <a type="button" class="btn-floating btn-tw" href="https://www.instagram.com/selwynswimclub/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <hr class="clearfix w-100 d-lg-none pb-3">
        <div class="col-lg-4 mt-md-0 mt-3 text-center">
          <h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Sponsors and supporters</h5>
          <a href="https://www.selwyn.govt.nz/" target="_blank"><img class="sponsor-sel mr-2" src="/images/sel.png"></a>
          <a href="https://www.pubcharitylimited.org.nz/" target="_blank"><img class="sponsor-pub" src="/images/pub1.jpg"></a>
        </div>
      </div>
    </div>
  </footer>

</body>