<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Shanti&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="header shadow-sm bg-light border-bottom">
    <div class="info text-center text-white p-2 text-uppercase shadow-sm">open with level 2 safety standards</div>
    <div class="text-center">
      <img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn">
    </div>
    <nav class="container navbar navbar-expand-md navbar-light p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-2 ml-md-5 mr-md-5" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-item nav-link text-uppercase" href="/">Home</a>
          <a class="nav-item nav-link text-uppercase active" href="/about-us">About Us</a>
          <a class="nav-item nav-link text-uppercase" href="#events">Events</a>
          <a class="nav-item nav-link text-uppercase" href="#">News</a>
          <a class="nav-item nav-link text-uppercase" href="#">Club Info</a>
          <a class="nav-item nav-link text-uppercase" href="#">Gallery</a>
          <a class="nav-item nav-link text-uppercase" href="#">Contact Us</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="p-5 mt-2 container">
    <div class="row">
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/DavidBennett-clubPresident.jpg">
        <span class="memb-rol">Club President</span>
      </div>
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/JeanetteAnderson-secretaryAndSponsorship.jpg">
        <span class="memb-rol">Secretary and Sponsorship</span>
      </div>
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/SamNewbigging-Treasurer.jpg">
        <span class="memb-rol">Treasurer</span>
      </div>   
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/MichelleBoyce-travelAndAccommodation.jpg">
        <span class="memb-rol">Travel and Accommodation</span>
      </div>
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/KellyBennett-Volunteers.jpg">
        <span class="memb-rol">Volunteers</span>
      </div>
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/RachelClose-Communications.jpg">
        <span class="memb-rol">Communications</span>
      </div>       
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/MiriamEyles-uniformsAndFunding.jpg">
        <spa class="memb-rol"n>Uniforms and Funding</span>
      </div>
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/JulietSmith-eventsAndSocial.jpg">
        <span class="memb-rol">Event and Social</span>
      </div>
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/AndyBenn-committeeMember.jpg">
        <span class="memb-rol">Committee Member</span>
      </div>
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/BenClose-HeadCoach.jpg">
        <span class="memb-rol">Head Coach</span>
      </div>
      <div class="memb col-md-3 mb-3 text-center">
        <img class="card-img-top border rounded-circle mb-2" src="/images/RhysPryde-Wall-AssistantCoach.jpg">
        <span class="memb-rol">Assistant Coach</span>
      </div>
    </div>
  </div>

  <div class="sponsors mt-4 mb-5 text-white rounded shadow-sm pt-4 pb-4 ">
    <div class="container">
      <div class="text-center">
        <h1 class="h3 mt-2 mb-5">Sponsors and Supporters</h1>
      </div>
      <div id="multi-item-example" class="container carousel slide carousel-multi-item" data-ride="carousel">
      
        <!--Indicators-->
        <!-- <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          
        </ol> -->
        <!--/.Indicators-->
      
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
      
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3 d-md-flex align-items-md-center">           
                <img class="card-img" src="/images/bayleys.png" alt="Card image cap">              
              </div>      
              <div class="col-md-3 d-md-flex align-items-md-center">        
                <img class="card-img border-white" src="/images/challenge.jpg" alt="Card image cap">           
              </div>      
              <div class="col-md-3 d-md-flex align-items-md-center">              
                <img class="card-img spl" src="/images/spl.jpg" alt="Card image cap">          
              </div>            
              <div class="col-md-3 d-md-flex align-items-md-center">             
                <img class="card-img border-white" src="/images/hammer.jpg" alt="Card image cap">              
              </div>
            </div>
          </div>
          <!--/.First slide-->
      
          <!--Second slide-->
          <div class="carousel-item">  
            <div class="row">
              <div class="col-md-3 d-md-flex align-items-md-center">           
                <img class="card-img" src="/images/oktober.png" alt="Card image cap">              
              </div>  
              <div class="col-md-3 d-md-flex align-items-md-center">              
                <img class="x card-img"
                src="/images/TPAG-logo.jpg" alt="Card image cap">          
              </div>
              <div class="col-md-3 d-md-flex align-items-md-center">             
                  <img class="card-img"
                    src="/images/ontheplusside.jpg" alt="Card image cap">       
              </div>
              <div class="col-md-3 d-md-flex align-items-md-center">              
                  <img class="card-img border-white"
                    src="/images/superli.jpg" alt="Card image cap">            
              </div>
             
            </div>
          </div>
          <!--/.Second slide-->
          
          <div class="carousel-item">  
            <div class="row">
              <div class="col-md-3 d-md-flex align-items-md-center">           
                <img class="card-img border-white" src="/images/linco.jpg" alt="Card image cap">              
              </div>  
              <div class="col-md-3 d-md-flex align-items-md-center">              
                  <img class="card-img swa"
                    src="/images/swa.png" alt="Card image cap">             
              </div>
              <div class="col-md-3 d-md-flex align-items-md-center">             
                 
                    <img class="card-img motel"
                    src="/images/lincolnmotel.png" alt="Card image cap">        
              </div>
              <div class="col-md-3 d-md-flex align-items-md-center">              
                 
                    <img class="card-img border-white"
                    src="/images/suzymc.jpg" alt="Card image cap">             
              </div> 
             
            </div>
          </div>

          <div class="carousel-item">  
            <div class="row">
          <div class="x col-md-3 d-md-flex align-items-md-center">             
            <img class="card-img border-white"
            src="/images/harc.jpg" alt="Card image cap">  
          </div>
          <div class="x col-md-3 d-md-flex align-items-md-center">              
            <img class="card-img"
              src="/images/smart.jpg" alt="Card image cap">           
          </div>
          <div class="col-md-3 d-md-flex align-items-md-center">             
            <img class="x card-img"
              src="/images/selw.jpg" alt="Card image cap">       
          </div>
          <div class="col-md-3 d-md-flex align-items-md-center">              
              <img class="card-img"
                src="/images/pubch.jpg" alt="Card image cap">            
          </div> 
          </div>
        </div>
            
      
        </div>
        <!--/.Slides-->
      
      </div>
      <!--/.Carousel Wrapper-->
    
      
    </div>
  </div>

  <footer class="bg-light shadow-sm page-footer border-top font-small teal pt-4">
    <div class="container text-center text-md-left p-4">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3 text-center">
          <a name="contact" id="contact"><h5 class="text-uppercase mb-4 ">Contact</h5></a>
          <ul class="list-unstyled">
            <li>
                <p ><i class="fas fa-envelope mr-1"></i><a class="mail" href="mailto:selwynswimclub@gmail.com" target="_blank"> selwynswimclub@gmail.com</a></p>
            </li>
            <li>
                <p><i class="fas fa-map-marker-alt"></i>	71 Broadlands Dr, Rolleston 7643</p>
            </li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-4 mb-md-0 mb-3 text-center mt-2">
          <h5 class="text-uppercase mb-4">Follow Us</h5>
          <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/selwynswimclub/" target="_blank">
            <i class="fab fa-facebook-f mr-2"></i>
          </a>
          <a type="button" class="btn-floating btn-tw" href="https://www.instagram.com/selwynswimclub/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-4 mt-md-0 mt-3 text-center">
          <h5 class="text-uppercase mb-4 ">Sponsors and supporters</h5>
          <a href="https://www.selwyn.govt.nz/" target="_blank"><img class="sponsor-sel mr-2" src="/images/sel.png"></a>
          <a href="https://www.pubcharitylimited.org.nz/" target="_blank"><img class="sponsor-pub" src="/images/pub.png"></a>
        </div>
      </div>
    </div>
  </footer>

</body>