<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Shanti&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="header shadow-sm bg-light border-bottom">
    <div class="info text-center text-white p-2 text-uppercase shadow-sm">open with level 2 safety standards</div>
    <div class="text-center">
      <img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn">
    </div>
    <nav class="container navbar navbar-expand-md navbar-light p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-2 ml-md-5 mr-md-5" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-item nav-link text-uppercase" href="/">Home</a>
          <a class="nav-item nav-link text-uppercase active" href="/about-us">About Us</a>
          <a class="nav-item nav-link text-uppercase" href="#events">Events</a>
          <a class="nav-item nav-link text-uppercase" href="#">News</a>
          <a class="nav-item nav-link text-uppercase" href="#">Club Info</a>
          <a class="nav-item nav-link text-uppercase" href="#">Gallery</a>
          <a class="nav-item nav-link text-uppercase" href="#">Contact Us</a>
        </div>
      </div>
    </nav>
  </div>



  <div class="mt-5 container">
    <div class="text-center mb-4">
    <h1 class="h3 mb-3 text-blue">Meet the team</h1>
    </div>
    <div class="row">
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/DavidBennett-clubPresident.jpg">
        <h2 class="h4 memb-name">David Bennett</h2>
        <h3 class="h5 memb-rol">Club President</h3>
      </div>
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/JeanetteAnderson-secretaryAndSponsorship.jpg">
        <h2 class="h4 memb-name">Jeanette Anderson</h2>
        <h3 class="h5 memb-rol">Secretary and Sponsorship</h3>
      </div>
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/SamNewbigging-Treasurer.jpg">
        <h2 class="h4 memb-name">Sam Newbigging</h2>
        <h3 class="h5 memb-rol">Treasurer</h3>
      </div>   
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/MichelleBoyce-travelAndAccommodation.jpg">
        <h2 class="h4 memb-name">Michelle Boyce</h2>
        <h3 class="h5 memb-rol">Travel and Accommodation</h3>
      </div>
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/KellyBennett-Volunteers.jpg">
        <h2 class="h4 memb-name">Kelly Bennett</h2>
        <h3 class="h5 memb-rol">Volunteers</h3>
      </div>
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/RachelClose-Communications.jpg">
        <h2 class="h4 memb-name">Rachel Close</h2>
        <h3 class="h5 memb-rol">Communications</h3>
      </div>       
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/MiriamEyles-uniformsAndFunding.jpg">
        <h2 class="h4 memb-name">Miriam Eyles</h2>
        <h3 class="h5 memb-rol"n>Uniforms and Funding</h3>
      </div>
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/JulietSmith-eventsAndSocial.jpg">
        <h2 class="h4 memb-name">Juliet Smith</h2>
        <h3 class="h5 memb-rol">Event and Social</h3>
      </div>
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/AndyBenn-committeeMember.jpg">
        <h2 class="h4 memb-name">Andy Benn</h2>
        <h3 class="h5 memb-rol">Committee Member</h3>
      </div>
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/BenClose-HeadCoach.jpg">
        <h2 class="h4 memb-name">Ben Close</h2>
        <h3 class="h5 memb-rol">Head Coach</h3>
      </div>
      <div class="memb col-lg-3 col-sm-6 mb-3 text-center p-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/RhysPryde-Wall-AssistantCoach.jpg">
        <h2 class="h4 memb-name">Rhys Pryde-Wall</h2>
        <h3 class="h5 memb-rol">Assistant Coach</h3>
      </div>
    </div>
  </div>

  <div class="mt-4 mb-5">
    <div class="text-2 shadow-sm border-top">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-lg-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 text-blue">Goals</h1>
              <i class="fas fa-swimming-pool"></i> 
              <p class="h5">It is the goal of Selwyn Swim Club to develop,support and promote competitive
                swimming for all ages and abilities in a positive, caring and safe environment.<br />
                Competitive swimming encourages fitness, friendship, and health,<br /> and produces people who are a credit to their sport and
                their community.</p>
            </div>
          </div>
            <div class="container-img col-lg-6 pl-0 pr-0">
              <img class="about-img" src="/images/aboutUs4A.jpg">
            </div>
        </div>
      </div>
    </div>

    <div class="bg-light shadow-sm border-top">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-6 pl-0 pr-0 mt-lg-0">
            <img class="about-img" src="/images/AboutUs2.jpg">
          </div>
          <div class="col-lg-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 text-blue">Coaches</h1>
              <i class="fas fa-swimming-pool"></i> 
              <p class="h5">Our swim coaches offer high-quality, professional coaching. Since the club's formation in 2014, our coaches have
                built a strong reputation for developing swimmers with a high level of technical competence.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-2 shadow-sm border-top">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-lg-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 text-blue">Diversity</h1>
              <i class="fas fa-water"></i>
              <p class="h5">Our swimmers range in age and ability. We also have swimmers competing in a diverse range of aquatic sports such
                as open water, para-swimming, and triathlon.</p>
            </div>
          </div>
            <div class="container-img col-lg-6 pl-0 pr-0">
              <img class="about-img" src="/images/aboutUs3.jpg">
            </div>
        </div>
      </div>
    </div>

      <div class="bg-light shadow-sm border-top">
      <div class="container">
        <div class="row text-center">
          <div class=" col-lg-6 pl-0 pr-0 mt-lg-0">
            <img class="about-img" src="/images/aboutUs4.jpg">
          </div>
          <div class="col-lg-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 text-blue">Members</h1>
              <i class="fas fa-swimming-pool"></i> 
              <p class="h5">We welcome members of our swimmers' families to join in and help out where they can. Swim meets are reliant completely
                upon volunteers to run them.<br />
                It's a great way to support your child's interest and to see the action close up.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-2 border-bottom">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-lg-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 text-blue">Competitions</h1>
              <i class="fas fa-water"></i>
            <p class="h5">Selwyn Swim Club swimmers compete at meets that include local, regional, national, and international competitions.<br />
              With a solid base of experience from our senior swimmers and coaches with extensive knowledge of the sport, we are excited to see 
              the club continue to grow from strength to strength!</p>
            </div>
          </div>
            <div class="container-img col-lg-6 pl-0 pr-0">
              <img class="about-img" src="/images/aboutUs5A.jpg">
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sponsors mt-4 mb-5 rounded pt-4 pb-5">
    <div class="container">
      <div class="text-center">
        <h1 class="sponsors-title h3 mt-2 mb-5 text-white">Sponsors and supporters</h1>
      </div>
      <div id="multi-item-example" class="container carousel slide carousel-multi-item" data-ride="carousel">
      
        <!--Indicators-->
        <!-- <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          
        </ol> -->
        <!-- <div class="controls-top">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
              class="fas fa-chevron-right"></i></a>
        </div> -->
        <!--/.Indicators-->
        <ol class="carousel-sponsors carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
          <li data-target="#multi-item-example" data-slide-to="3"></li>
        </ol>
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
      
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row text-center">
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">           
                <img class="card-img border-black" src="/images/bayleys.png" alt="Card image cap">              
              </div>      
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">        
                <img class="card-img" src="/images/challenge.jpg" alt="Card image cap">           
              </div>      
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">              
                <img class="card-img spl" src="/images/spl.jpg" alt="Card image cap">          
              </div>            
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">             
                <img class="card-img" src="/images/hammer.jpg" alt="Card image cap">              
              </div>
            </div>
          </div>
          <!--/.First slide-->
      
          <!--Second slide-->
          <div class="carousel-item">  
            <div class="row text-center">
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">           
                <img class="card-img border-black" src="/images/oktober.png" alt="Card image cap">              
              </div>  
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">              
                <img class="card-img border-black"
                src="/images/TPAG-logo.jpg" alt="Card image cap">          
              </div>
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">             
                  <img class="card-img border-black"
                    src="/images/ontheplusside.jpg" alt="Card image cap">       
              </div>
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">              
                  <img class="card-img border-black"
                    src="/images/superli.jpg" alt="Card image cap">            
              </div>
             
            </div>
          </div>
          <!--/.Second slide-->
          
          <div class="carousel-item">  
            <div class="row text-center">
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">           
                <img class="card-img border-black" src="/images/linco.jpg" alt="Card image cap">              
              </div>  
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">              
                  <img class="card-img swa"
                    src="/images/swa.png" alt="Card image cap">             
              </div>
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">             
                 
                    <img class="card-img motel"
                    src="/images/lincolnmotel.png" alt="Card image cap">        
              </div>
              <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">              
                 
                    <img class="card-img border-black"
                    src="/images/suzymc.jpg" alt="Card image cap">             
              </div> 
             
            </div>
          </div>

          <div class="carousel-item">  
            <div class="row text-center">
          <div class="x col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">             
            <img class="card-img border-white"
            src="/images/harc.jpg" alt="Card image cap">  
          </div>
          <div class="x col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">              
            <img class="card-img"
              src="/images/smart.jpg" alt="Card image cap">           
          </div>
          <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">             
            <img class="x card-img"
              src="/images/selw.jpg" alt="Card image cap">       
          </div>
          <div class="col-sm-3 d-md-flex align-items-md-center mb-3 mb-md-0">              
              <img class="card-img"
                src="/images/pubch.jpg" alt="Card image cap">            
          </div> 
          </div>
        </div>
            
      
        </div>
        <!--/.Slides-->
      
      </div>
      <!--/.Carousel Wrapper-->
    
      
    </div>
  </div>

  <footer class="bg-light shadow-sm page-footer border-top font-small teal pt-4">
    <div class="container text-center text-md-left p-4">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3 text-center">
          <a name="contact" id="contact"><h5 class="text-uppercase mb-4 ">Contact</h5></a>
          <ul class="list-unstyled">
            <li>
                <p ><i class="fas fa-envelope mr-1"></i><a class="mail" href="mailto:selwynswimclub@gmail.com" target="_blank"> selwynswimclub@gmail.com</a></p>
            </li>
            <li>
                <p><i class="fas fa-map-marker-alt"></i>	71 Broadlands Dr, Rolleston 7643</p>
            </li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-4 mb-md-0 mb-3 text-center mt-2">
          <h5 class="text-uppercase mb-4">Follow Us</h5>
          <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/selwynswimclub/" target="_blank">
            <i class="fab fa-facebook-f mr-2"></i>
          </a>
          <a type="button" class="btn-floating btn-tw" href="https://www.instagram.com/selwynswimclub/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-4 mt-md-0 mt-3 text-center">
          <h5 class="text-uppercase mb-4 ">Sponsors and supporters</h5>
          <a href="https://www.selwyn.govt.nz/" target="_blank"><img class="sponsor-sel mr-2" src="/images/image.jpg"></a>
          <a href="https://www.pubcharitylimited.org.nz/" target="_blank"><img class="sponsor-pub" src="/images/pub.png"></a>
        </div>
      </div>
    </div>
  </footer>

</body>