<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="text-center">
        <img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn">
    </div>
    <hr>
    <div class="container text-center pl-5 pr-5 pt-4 ">
        <form action="/admin/add-event" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class=row>
                    <div class="col-4">
                        <label for="exampleFormControlSelect1">Day</label>
                        <select class="form-control" name="day" id="exampleFormControlSelect1" required>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlSelect1">Month</label>
                        <select class="form-control" name="month" id="exampleFormControlSelect1" required>
                            <option>JAN</option>
                            <option>FEB</option>
                            <option>MAR</option>
                            <option>APR</option>
                            <option>MAY</option>
                            <option>JUN</option>
                            <option>JUL</option>
                            <option>AUG</option>
                            <option>SEP</option>
                            <option>OCT</option>
                            <option>NOV</option>
                            <option>DEC</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlInput1">Year</label>
                        <input type="text" minlength="4" maxlength="4" name="year" class="form-control" id="exampleFormControlInput1" placeholder="0000" required>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Event's name</label>
                        <input type="text" class="form-control" name="name" id="exampleFormControlInput1" required>
                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Place</label>
                        <input type="text" class="form-control" name="place" id="exampleFormControlInput1" placeholder="City, Country" required>
                    </div>
                </div>
                <div class="mt-4">
                    <label for="exampleFormControlInput1">url</label>
                    <input type="text" class="form-control" name="url" id="exampleFormControlInput1" value="https://www." required>
                </div>
                
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </div>
        </form>
    </div>

</body>