<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="text-center">
    <a href="/"><img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn"></a>
  </div>
  <hr>
  <div class="container d-flex justify-content-center">
      <div class="container-form border">
      
          <div class="card-header bg-dark text-white text-center">
              <div class="card-header bg-dark text-white text-center">
                  <h3>Add Image</h3>
              </div>
          </div>
          <div class="card-body">
              
              <% if (typeof msg != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                  <%= msg %>
                </div>
              <% } %>
              <form action="/admin/add-image" method="POST" enctype="multipart/form-data">
                  <input type="date" name="date" class="form-control" placeholder="Date" required><br />
                  <input type="text" name="name" class="form-control" placeholder="Name" required><br />
                  <input type="file" name="image" class="pb-4" required>
                  <input type="submit" class="btn btn-primary btn-block">
              </form>                
          </div>
    
      </div>
  </div> 
</body>