<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="info text-center text-white p-1 text-uppercase shadow-sm font-weight-bold">open with level 2 safety standards</div>
        <div class="text-center">
          <img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn">
        </div>
        <nav class="container navbar navbar-expand-lg navbar-light p-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ml-lg-5 mr-lg-5" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
              <a class="nav-item nav-link text-uppercase" href="/">Home</a>
              <a class="nav-item nav-link text-uppercase" href="/about-us">About Us</a>
              <a class="nav-item nav-link text-uppercase" href="/#events">Events</a>
              <a class="nav-item nav-link text-uppercase" href="#">News</a>
              <a class="nav-item nav-link text-uppercase active-link font-weight-bold" href="/club-info">Club Info</a>
              <a class="nav-item nav-link text-uppercase" href="#">Gallery</a>
              <a class="nav-item nav-link text-uppercase" href="#">Contact Us</a>
            </div>
          </div>
        </nav>
      </div>

    
      
        <div class="container">
          <div class="mt-4">
            <p>The Selwyn Swim Club was established in 2014 and is based out of the Selwyn Aquatic Centre in Rolleston, Canterbury. 
              The club encompasses swimmers at the top end of learn to swim, those in mini squads who are learning to train, and our competitive squads.
              
              Selwyn Swim Club has grown rapidly since 2014 with swimmers from the club competing all over New Zealand and overseas, at regional, national and international meets. 
              
              We invest in our team culture, providing regular opportunities for swimmers to connect away from the pool. <br />
               We do this through trips away, team activities, and educational seminars to allow the team to grow and develop in a fun environment.
              
              The club's ethos is to help swimmers become the best they can be both as athletes and as excellent young adults.
              
              We have exceptional coaches who are nationally qualified, extremely passionate and actively involved in all levels of the pathway. <br />
              
              Learn to Swim provides the foundation skills for competitive swimming. Each level has a set progression of the competitive strokes and skills, which must be achieved before moving up to the next level, including moving to the squad programme.
              
              When swimmers join the club, they will remain in the same level they are enrolled in. The Selwyn Swim Club doesn’t run training sessions, it just provides opportunities for racing and team building.
              
              Selwyn Swim Club hold termly Race Nights for Aqua 7 level and above. These are the perfect introduction to what local inter-club competitions are like, and provide a great opportunity to put into practice the race skills taught in each level.
              
              Swimmers are eligible to join the club from Aqua 8 onwards, as at this level the race skills and technique learnt will allow a swimmer to try out a range of events.</p>
          </div>
          <div>
            <p>There are regular opportunities to race - usually every 4-6 weeks depending on the calendar of events.
              We recommend checking your entries with the coaches before submitting them to ensure the right balance of events on race day.</p>
              <p class="text-center">Aqua 8- 1 x 25min lesson <br />
                Aqua 9- 1 x 45min lesson <br />
                Bronze - 2 x 1 hour sessions <br />
                Silver - 3 x 1 hour sessions <br />
                Gold 2- 6 x 1.5-2 hour sessions <br />
                Gold 1- 8 x 1.5-2 hour sessions <br />
                Platinum - 9 x 1.5-2 hour sessions</p>
              <div class="row">
                <div class="col-6  membership-light p-4">
                  <div class="font-weight-bold mb-3 h5 text-center">Bronze</div>
                  <p>Bronze The first of our Mini Squad levels is where swimmers will get more in-depth coaching for race specific skills, building on what they have learnt in the Swim School programme. 

                    Bronze swim 2 x 1 hour sessions per week, with the option to add a 3rd. <br />
                    
                    The Bronze Squad still incorporates a lot of games, relays and challenges to keep young swimmers engaged and excited about the sport, while starting to introduce more training elements.
                    
                    Swimmers in this level should aim to compete at club level meets and work towards Canterbury Junior Champs.</p>
                   
                </div>
                <div class="col-6 membership-orange-light p-4">
                  <div class="font-weight-bold mb-3 h5 text-center">Silver</div>
                  <p>Silver is the next level in Mini Squads, and aims to establish more refined skills for competition. <br />

                    Swimmers in this group train 3 x 1 hour sessions per week, with the option to add a 4th. <br />
                    
                    Swimmers in Silver continue to enjoy games, relays and challenges, while learning how to train across a range of energy systems and hold their racing skills under pressure.
                    
                    Swimmers in this level should aim to compete regularly at club level meets and work towards Canterbury Junior Champs, or South Island Country and Town Champs. </p>
                </div>
                <div class="col-6 membership-orange-light p-4">
                  <div class="font-weight-bold mb-3 h5 text-center">Gold</div>
                  <p>Gold-1 Squad train 7-8 times per week and begin to have more individualised training plans based on strengths and weaknesses.
                    
                    This group competes at South Island level meets and working towards National meet qualification, or those who are already at national
                     level but in the younger age groups (14-15). <br />
                    
                    At this level we also start to include more specific goal setting and include more awareness of support outside of the pool
                     such as gym, physio, nutrition.</p>
                  <p>Gold-2 is the first Competitive Squad, training up to 6 times per week including daily dryland training. <br />

                    This group is working towards competing at regional level meets and qualifying for South Island meets. <br />
                    
                    At this level, we include goal setting sessions, skill repetition under pressure, and start rehearsing race
                     plans and strategies. Regular team building takes place at travel meets, and through club run social events, as well as
                      challenges and fun activities during training sessions.</p>
                </div>
                <div class="col-6 membership-light p-4">
                  <div class="font-weight-bold mb-3 h5 text-center">Platinum</div>
                  <p>Platinum Squad is our highest level and train 8-9 times per week based on their individual programme. <br />

                    Platinum swimmers are nationally qualified, and aiming to compete at international competitions. <br />
                    
                    This group takes on leadership roles within the team and helps mentor younger swimmers in the squads below. <br />
                    
                    In Platinum Squad, we continue to utilise support outside of the pool and enhance good performance behaviours.</p>
                </div>
              </div>
          </div>
          <div class="text-center mb-5 mt-md-4 mt-5">
            <a href="https://docs.google.com/forms/d/1BxxszXpAmsUjOy44Uf2sqvHcG6yxjtP2eDB740tCj1M/viewform?gxids=7628&edit_requested=true" target="_blank"><img class="sponsor-pub">Become a member</a>
          </div>
        </div>
        <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="text-center">
              <span>Download Handbook</span>
            </div>
            <div class="text-center mb-5 mt-md-4 mt-5">
              <i class="fas fa-download"></i><a href="Selwynhandbook2020.pdf" class="txt-colour"> PDF</a> 
            </div>
          </div>
        <div class="col-6">
          
            <div class="text-center">
              <span>Download Records</span>
            </div>
            <div class="text-center mb-5 mt-md-4 mt-5">
              <i class="fas fa-download"></i><a href="SelwynClubRecords2020(2).pdf" class="txt-colour"> PDF</a> 
            </div>
          </div>
      </div>
    </div>
</body>