<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <link rel="stylesheet" type="text/css" href="jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="icon-bar d-none d-xl-block">
        <a href="https://www.facebook.com/selwynswimclub/" class="facebook" target="_blank"><i class="fab fa-facebook-f text-white"></i></a> 
        <a href="https://www.instagram.com/selwynswimclub/" class="instagram" target="_blank"><i class="fab fa-instagram text-white"></i></a> 
    </div>

    <div class="header">
        <div class="info text-center text-white p-1 text-uppercase shadow-sm font-weight-bold">open with level 1 safety standards</div>
        <div class="text-center">
            <a href="/"><img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn"></a>
        </div>
    
        <nav class="container navbar navbar-expand-lg navbar-light p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-lg-5 mr-lg-5" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto">
                    <a class="nav-item nav-link text-uppercase" href="/">Home</a>
                    <a class="nav-item nav-link text-uppercase" href="/about-us">About Us</a>
                    <a class="nav-item nav-link text-uppercase" href="/events">Events</a>
                    <a class="nav-item nav-link text-uppercase" href="/club-info">Club Info</a>
                    <a class="nav-item nav-link text-uppercase active-link font-weight-bold" href="/gallery">Gallery</a>
                    <a class="nav-item nav-link text-uppercase" href="/contact-us">Contact Us</a>
                    <!-- <a class="nav-item nav-link text-uppercase" href="/events">Members Area</a> -->
                </div>
            </div>
        </nav>
    </div>
    <div class="container mt-5">
      
        <div class="row text-center text-lg-left">
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery1.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery1.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery2.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery2.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery3.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery3.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery4.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery4.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery5.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery5.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery6.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery6.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery7.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery7.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery8.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery8.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery9.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery9.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery10.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery10.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery11.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery11.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery12.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery12.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery20.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery20.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery14.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery14.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery15.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery15.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery16.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery16.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery21.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery21.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery22.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery22.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/slider4.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/slider4.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery24.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery24.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery25.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery25.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery26.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery26.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery27.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery27.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
          <div class="gallery col-lg-3 col-md-4 col-6">
            <a href="/images/gallery28.jpg" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
                <img src="/images/gallery28.jpg" class="img-fluid img-thumbnail" alt="Selwyn">
            </a>
          </div>
        </div>
      
      </div>

    <footer class=" page-footer font-small teal pt-4 mt-4">
        <div class="container text-center text-md-left p-4">
            <div class="row mb-4">
                <div class="col-lg-4 mt-md-0 mt-3 text-center">
                <a name="contact" id="contact"><h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Contact</h5></a>
                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-envelope mr-1"></i><a class="mail" href="mailto:selwynswimclub@gmail.com" target="_blank">
                        <span class="text-white"> selwynswimclub@gmail.com</span></a></p>
                    </li>
                    <li>
                        <p><i class="fas fa-map-marker-alt mr-2"></i><span class="text-white">71 Broadlands Dr, Rolleston 7643</span></p>
                    </li>
                </ul>
                </div>
                <hr class="w-100 d-lg-none pb-3">
                <div class="col-lg-4 mb-md-0 mb-3 text-center">
                <h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Follow Us</h5>
                <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/selwynswimclub/" target="_blank">
                    <i class="fab fa-facebook-f mr-2"></i>
                </a>
                <a type="button" class="btn-floating btn-tw" href="https://www.instagram.com/selwynswimclub/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                </div>
                <hr class="w-100 d-lg-none pb-3">
                <div class="col-lg-4 mt-md-0 mt-3 text-center">
                <h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Sponsors and supporters</h5>
                <a href="https://www.selwyn.govt.nz/" target="_blank"><img class="sponsor-sel mr-2" src="/images/sel.png"></a>
                <a href="https://www.pubcharitylimited.org.nz/" target="_blank"><img class="sponsor-pub" src="/images/pub1.jpg"></a>
                </div>
            </div>
        </div>
    </footer>

</body>