<!DOCTYPE html>
<html lang="en">

<%- include ("../noAdmin/partials/head.ejs") %>

<body>
  <div class="text-center">
    <a href="/"><img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn"></a>
  </div>

  <hr>

  <div class="container text-center w-25">
    <div class="row mt-5">
      <div class="col-6">
        <a href="events-list" class="btn btn-details text-white" role="button">Modify Club Events</a>
      </div>
      <div class="col-6">
        <a href="images-list" class="btn btn-details text-white" role="button">Modify Club Images</a>
      </div>
    </div>
  </div>
</body>