<!DOCTYPE html>
<html lang="en">
<%- include ("../../noAdmin/partials/head.ejs") %>
<body>
  <div class="text-center">
    <a href="/"><img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn"></a>
  </div>
  <hr>
  <div class="container d-flex justify-content-center">
      <div class="container-form border">
      
          <div class="card-header bg-dark text-white text-center">
              <div class="card-header bg-dark text-white text-center">
                  <h3>Add Image</h3>
              </div>
          </div>
          <div class="card-body">
              
              <% if (typeof msg != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                  <%= msg %>
                </div>
              <% } %>
              <form action="/admin/add-image" method="POST" enctype="multipart/form-data">
                  <input type="date" name="date" class="form-control" placeholder="Date" required><br />
                  <input type="text" name="name" class="form-control" placeholder="Name" required><br />
                  <input type="file" name="image" class="pb-4" required>
                  <input type="submit" class="btn btn-primary btn-block">
              </form>                
          </div>
    
      </div>
  </div> 
</body>