<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head.ejs") %>

<body>
<%- include ("partials/socialMedia.ejs") %>

<%- include ("partials/header.ejs", {currentPage:"about-us"}) %>

  <div class=" mt-4 mb-5 p-0">
    <div class="text-2 about-us-light mb-2">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3"><img class="orange-drops mr-2" src="/images/image (1).png">Goals</h1>
              <p>It is the goal of Selwyn Swim Club to develop,support and promote competitive
                swimming for all ages and abilities in a positive, caring and safe environment.<br />
                Competitive swimming encourages fitness, friendship, and health,<br /> and produces people who are a credit to their sport and
                their community.</p>
            </div>
          </div>
            <div class="container-img col-md-6 pl-0 pr-0">
              <img class="about-img pt-4 pb-4" src="/images/aboutUs4A.jpg">
            </div>
        </div>
      </div>
    </div>

    <div class="about-us-dark mb-2">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 pl-0 pr-0 mt-lg-0">
            <img class="about-img pt-4 pb-4 rounded" src="/images/AboutUs2.jpg">
          </div>
          <div class="col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3">Coaches<img class="orange-drops mr-2 ml-1" src="/images/image (2).png"></h1>
              
              <p>Our swim coaches offer high-quality, professional coaching. Since the club's formation in 2014, our coaches have
                built a strong reputation for developing swimmers with a high level of technical competence.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-2 about-us-light mb-2">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3"><img class="orange-drops mr-2" src="/images/image (1).png">Diversity</h1>
              
              <p>Our swimmers range in age and ability. We also have swimmers competing in a diverse range of aquatic sports such
                as open water, para-swimming, Synchro Swimming, and triathlon.</p>
            </div>
          </div>
            <div class="container-img col-md-6 pl-0 pr-0">
              <img class="about-img pt-4 pb-4 rounded" src="/images/aboutUs3.jpg">
            </div>
        </div>
      </div>
    </div>

    <div class="about-us-dark mb-2">
      <div class="container">
        <div class="row text-center">
          <div class=" col-md-6 pl-0 pr-0 mt-lg-0">
            <img class="about-img pt-4 pb-4 rounded" src="/images/aboutUs4.jpg">
          </div>
          <div class="col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3">Members<img class="orange-drops mr-2 ml-1" src="/images/image (2).png"></h1>
              
              <p >We welcome members of our swimmers' families to join in and help out where they can. Swim meets are reliant completely
                upon volunteers to run them.<br />
                It's a great way to support your child's interest and to see the action close up.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-2 about-us-light">
      <div class="container">
        <div class="container-about row text-center">
          <div class="container-text col-md-6 d-md-flex align-items-md-center p-4">
            <div>
              <h1 class="h4 about-us-title text-blue font-weight-bold mb-3"><img class="orange-drops mr-2" src="/images/image (1).png">Competitions</h1>
              
            <p >Selwyn Swim Club swimmers compete at meets that include local, regional, national, and international competitions.<br />
              With a solid base of experience from our senior swimmers and coaches with extensive knowledge of the sport, we are excited to see 
              the club continue to grow from strength to strength!</p>
            </div>
          </div>
            <div class="container-img col-md-6 pl-0 pr-0">
              <img class="about-img pt-4 pb-4 rounded-lg" src="/images/aboutUs5A.jpg">
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-members mb-5">
    <div class="text-center mb-5 mt-5">
      <h1 class="h3 team-title text-blue font-weight-bold">Meet the team</h1>
    </div>
    <div class="row">
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4">
        <img class="card-img-top border rounded-circle mb-2" src="/images/DavidBennett-clubPresident.jpg">
        <h2 class="h5 memb-name font-weight-bold">David Bennett</h2>
        <span class="memb-rol">Club President</span>
      </div>
      <div class="memb col-lg-3 col-md-3 col-sm-4 col-6 text-center mb-4 pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/AngCochrane-Secretary.jpg">
        <h2 class="h5 memb-name font-weight-bold">Ang Cochrane</h2>
        <span class="memb-rol">Secretary</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/SamNewbigging-Treasurer.jpg">
        <h2 class="h5 memb-name font-weight-bold">Sam Newbigging</h2>
        <span class="memb-rol">Treasurer</span>
      </div>   
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/MelMacdowall-TravelandAccommodation.jpg">
        <h2 class="h5 memb-name font-weight-bold">Mel Macdowall</h2>
        <span class="memb-rol">Travel and Accommodation</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/KellyBennett-Volunteers.jpg">
        <h2 class="h5 memb-name font-weight-bold">Kelly Bennett</h2>
        <span class=" memb-rol">Volunteer Coordinator</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/RachelClose-Communications.jpg">
        <h2 class="h5 memb-name font-weight-bold">Rachel Close</h2>
        <span class=" memb-rol">Communications and Marketing Officer</span>
      </div>       
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/MiriamEyles-uniformsAndFunding.jpg">
        <h2 class="h5 memb-name font-weight-bold">Miriam Eyles</h2>
        <span class=" memb-rol"n>Uniforms and Funding</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/JulietSmith-eventsAndSocial.jpg">
        <h2 class="h5 memb-name font-weight-bold">Juliet Smith</h2>
        <span class=" memb-rol">Grants and Sponsorship</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/AndyBenn-committeeMember.jpg">
        <h2 class="h5 memb-name font-weight-bold">Andy Benn</h2>
        <span class=" memb-rol">Police Vetting Manager</span>
      </div>
      <div class="memb col-lg-3 col-md-3 mb-3 col-sm-4 col-6 text-center pl-4 pr-4 pb-2">
        <img class="card-img-top border rounded-circle mb-2" src="/images/SandiBenn-HealthandSafety.jpg">
        <h2 class="h5 memb-name font-weight-bold">Sandi Benn</h2>
        <span class=" memb-rol">Health and Safety</span>
      </div>
    </div>
  </div>

<%- include ("partials/footer.ejs") %>

</body>