<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head.ejs") %>

<body>
<%- include ("partials/socialMedia.ejs") %>
<%- include ("partials/header.ejs", {currentPage:"club-info"}) %>

<div>
    <div class="container">
        <img class="container membership-img p-0 mt-4" src="/images/membership.jpg">
    </div>
    <div class="mt-5 mb-5 p-md-0 p-3 container">
        <div class="text-center">
            <p>The Selwyn Swim Club was established in 2014 and is based out of the Selwyn Aquatic
                Centre in Rolleston, Canterbury.</p>
            <p>The club's ethos is to help swimmers become the best they can be both as athletes and as
                excellent young adults.<br/>
                We have exceptional coaches who are nationally qualified, extremely passionate and
                actively involved in all levels of the pathway.<br/>
                Swimmers are eligible to join the club from Aqua 8 onwards, as at this level the race skills
                and technique learnt will allow a swimmer to try out a range of events.</p>
        </div>
    </div>

    <div class="about-us p-5 text-center">
        <div class="mt-2">
            <img class="orange-drops-lg mr-2" src="/images/Gotitas comillas-naranjas.png">
            <a class="btn-memb btn text-white" data-toggle="modal" data-target="#exampleModal"><h1
                        class="font-weight-bold"> Become a member</h1></a>
        </div>
        <div>
            <a class="btn-memb btn text-white" data-toggle="modal" data-target="#exampleModal"><h4
                        class="font-weight-bold border p-2"> Join Us</h4></a>
        </div>

        <div class="container w-50">
            <hr class="hr-box">
            <h2 class="font-weight-bold text-white mb-4 mt-4"> Download files</h2>
            <div class="p-2">
                <a href="/PDF/SelwynSwimClubAwards.pdf" target="_blank" class="text-white"><h4><img
                                class="orange-drops mr-2 mb-2" src="/images/Gotitas comillas-blancas.png">Selwyn Swim
                        Club Awards</h4></a>
            </div>
            <div class="p-2">
                <a href="/PDF/SelwynSwimClubConstitution.pdf" target="_blank" class="text-white"><h4><img
                                class="orange-drops mr-2 mb-2" src="/images/Gotitas comillas-blancas.png">Constitution &
                        Rules</h4></a>
            </div>
            <div class="p-2">
                <a href="/PDF/Member.pdf" target="_blank" class="text-white"><h4><img class="orange-drops mr-2 mb-2"
                                                                                      src="/images/Gotitas comillas-blancas.png">Membership
                        Protection Manual</h4></a>
            </div>
            <!--          <div class="p-2">-->
            <!--            <a  href="/PDF/Selwynhandbook2020.pdf" target="_blank" class="text-white"><h4> <img class="orange-drops mr-2 mb-2" src="/images/image (1).png">Club Handbook</h4></a>-->
            <!--          </div>-->
            <div class="p-2">
                <a href="/PDF/SelwynClubRecords2021.xlsx" target="_blank" class="text-white"><h4><img
                                class="orange-drops mr-2 mb-2" src="/images/image (1).png">Club Records</h4></a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 p-0">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title ml-3 font-weight-bold text-blue" id="exampleModalLabel">Become a Member</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="row pr-2 pl-2">
                        <div class="col-lg-6 col-12">
                            <div class="membership-light mb-4">
                                <h1 class="h5 row-date-dark p-3 text-white font-weight-bold"><img
                                            class="white-drops-sm mr-2" src="/images/Gotitas comillas-blancas.png">Club
                                    Swimmer</h1>

                                <p class="p-3">This includes club level membership to SNZ and SCWC allowing a swimmer to
                                    enter club swim meets anywhere in New Zealand.
                                    A Club Swimmer can upgrade their membership any time to become a Competitive Swimmer
                                    but must pay the additional affiliation
                                    fees to SNZ and SCWC.</p>
                            </div>
                            <div class="membership-orange-light">
                                <h1 class="h5 row-date-active p-3 text-white font-weight-bold"><img
                                            class="white-drops-sm mr-2" src="/images/Gotitas comillas-blancas.png">Competitive
                                    Swimmer</h1>

                                <p class="p-3">This includes membership to SNZ and SCWC for regional and national level
                                    meets.
                                    This will normally occur when Club Swimmer reaches Canterbury Champs qualification
                                    standards.</p>
                            </div>

                        </div>
                        <div class="col-lg-6 p-0 d-none d-lg-block">
                            <img class="container membership-img" src="/images/swimer-text-sm.jpg">
                        </div>
                    </div>
                    <div class="mt-2 text-center">

                        <div class="about-us text-white p-4">
                            <p class="h5 font-weight-bold mt-4">Fees for 2020/2021 are:</p>
                            <p class="h5 font-weight-bold">Club Swimmer Membership $165.00* <br/>
                                Competitive Swimmer Membership $206.50 *</p>
                            <div>
                                <a href="https://docs.google.com/forms/d/1BxxszXpAmsUjOy44Uf2sqvHcG6yxjtP2eDB740tCj1M/viewform?gxids=7628&edit_requested=true"
                                   target="_blank" role="button" class="btn-memb btn text-white"><h5
                                            class="font-weight-bold border p-2"> Join Us Here</h5></a>
                            </div>

                        </div>
                        <div><p class="mt-3">Membership fees are annual. The year starts and finishes in July.</p>
                            <p class="mt-2">*This excludes coaching fees and pool entry. Coaching fees are issued
                                monthly for Gold and Platinum Squads, termly for the
                                Silver and Bronze Squads. These fees are payable to Selwyn Aquatic Centre.</p></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mb-5 pl-md-0 pr-md-0 pl-4 pr-4">
    <div class="squads-title h3 text-blue font-weight-bold mb-4">Competitive Squads</div>
    <div class="mb-3 p-0">
        <div class="row">
            <div class="col-lg-2 font-weight-bold text-white bronze h3 p-4 mb-0 d-md-flex align-items-md-center">
                <h3 class="text-white font-weight-bold">Bronze<i class="text-white fas fa-medal"></i></h3></div>
            <div class="col-lg-10 bronze-text p-4">
                <p>The first of our Mini Squad levels is where swimmers will get more in-depth
                    coaching for race specific skills, building on what they have learnt in the Swim School
                    programme.
                    The Bronze Squad still incorporates a lot of games, relays and challenges to keep young
                    swimmers engaged and excited about the sport, while starting to introduce more training
                    elements.
                    Swimmers in this level should aim to compete at club level meets and work towards
                    Canterbury Junior Champs.</p>
            </div>
        </div>

    </div>
    <div class="mb-3 p-0">
        <div class="row">
            <div class="col-lg-2 silver p-4 mb-0 d-md-flex align-items-md-center">
                <h3 class="text-white font-weight-bold ml-md-2 ml-0">Silver<i class="fas fa-medal text-white ml-1"></i>
                </h3>

            </div>
            <div class="col-lg-10 silver-text p-4">
                <p>Silver is the next level in Mini Squads, and aims to establish more refined skills for
                    competition.
                    Swimmers in Silver continue to enjoy games, relays and challenges, while learning how to
                    train across a range of energy systems and hold their racing skills under pressure.
                    Swimmers in this level should aim to compete regularly at club level meets and work
                    towards Canterbury Junior Champs, or South Island Country and Town Champs.</p>
            </div>
        </div>
    </div>
    <div class="mb-3 p-0">
        <div class="row">
            <div class="col-lg-2 h3 gold p-4 mb-0 d-md-flex align-items-md-center">
                <h3 class="text-white font-weight-bold ml-md-3 ml-0">Gold<i class="fas fa-medal text-white ml-1"></i>
                </h3></div>

            <div class="col-lg-10 gold-text p-4">
                <p>Gold-1 Squad train 7-8 times per week and begin to have more individualised training plans
                    based on strengths and weaknesses.
                    This group competes at South Island level meets and working towards National meet
                    qualification, or those who are already at national level but in the younger age groups (14-
                    15).
                    At this level we also start to include more specific goal setting and include more awareness
                    of support outside of the pool such as gym, physio, and nutrition.</p>
                <p>Gold-2 is the first Competitive Squad, training up to 6 times per week including daily dryland
                    training.
                    This group is working towards competing at regional level meets and qualifying for South
                    Island meets.

                    At this level, we include goal setting sessions, skill repetition under pressure, and start
                    rehearsing race plans and strategies. Regular team building takes place at travel meets, and
                    through club run social events, as well as challenges and fun activities during training
                    sessions.</p>
            </div>
        </div>
    </div>
    <div class="p-0">
        <div class="row">
            <div class="col-lg-2 h3 platinium p-md-2 p-4 mb-0 d-md-flex align-items-md-center">
                <h3 class="font-weight-bold text-white">Platinum<i class="fas fa-medal text-white"></i></h3></div>
            <div class="col-lg-10 platinium-text p-4">
                <p>Platinum Squad is our highest level and train 8-9 times per week based on their individual
                    programme.
                    Platinum swimmers are nationally qualified, and aiming to compete at international
                    competitions.
                    This group takes on leadership roles within the team and helps mentor younger swimmers
                    in the squads below.
                    In Platinum Squad, we continue to utilise support outside of the pool and enhance good
                    performance behaviours.</p>
            </div>
        </div>
    </div>

</div>


</div>

<%- include ("partials/footer.ejs") %>
</body>