<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head.ejs") %>
<body>
<%- include ("partials/socialMedia.ejs") %>
<%- include ("partials/header.ejs", {currentPage:"contact-form"}) %>
<div class="container text-center mt-4">
    <div>
        <div class="text-center d-none d-md-block mb-2">
            <img class="drawing text-center mt-4" src="/images/drawing.png">
        </div>
        <p>Thanks for getting in touch, <%= name %>.
            We appreciate you contacting us.</p>
        <p>We will get back in touch with you soon!</p>
        <p>Selwyn team members</p>
    </div>
</div>


</body>